@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Exo+2:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");@import url("https://fonts.googleapis.com/css?family=Anaheim:regular,500,600,700,800&display=swap");@import url("https://fonts.googleapis.com/css?family=Encode+Sans+SC:100,200,300,regular,500,600,700,800,900&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?ef34959e0faff9d0550253b32939c799") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-totem"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-tiles"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-techs"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-settings"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-nav-arrow"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-media"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-list"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-keyboard"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-home"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-history"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-help"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-filters"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-faq"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-double-arrow"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-decore"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-core-info"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-copy"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-close"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-clocks"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-cases"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-advanced"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-about"]::before { 
		content: "\f118"; 
	} 



/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "Exo 2";
  font-size: 1rem;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
summary::marker,
summary::-webkit-details-marker {
  display: none;
}
details > summary::marker {
  content: "";
  cursor: pointer;
  outline: none;
}/* Generated by vite-plugin-svg-spritemap */
.icon-menu {
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.filter-open .header, .search-open .header {
  z-index: 160;
}
.header__container {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  display: flex;
  max-width: 120rem;
  align-items: center;
  position: relative;
  gap: 0.625rem;
}
.header__burger {
  width: 1.6875rem;
  height: 1.6875rem;
  flex: 0 0 1.6875rem;
}
.header__burger img {
  max-width: 100%;
}
.header__actions {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
}
.header__languages {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.header__languages a {
  color: #183132;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.5rem;
  transition: all 0.3s;
  padding: 0.625rem;
}
.header__languages a.active {
  color: #77a8ac;
  background: #122021;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.25rem);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 100;
}
.search-open body::after, .filter-open body::after {
  opacity: 1;
}

.search-block__btn::before {
  content: "\f105";
  font-family: "iconfont";
  color: #77a8ac;
  transition: all 0.3s;
  font-size: 1.5rem;
}
.search-block__body {
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.search-open .search-block__body {
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
}
.search-block__body-wrapper {
  max-width: 90.625rem;
  margin: 0 auto;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem 0.625rem 0.75rem;
  background: #183132;
}
.search-block__body-wrapper form {
  position: relative;
}
.search-block__body-wrapper form input {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  border-radius: 0.5rem;
  padding: 0.5rem 3.125rem 0.5rem 1.25rem;
  border: 0.0625rem solid #77a8ac;
  background-color: #122021;
}
.search-block__body-wrapper form button {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translate(0rem, -50%);
}
.search-block__body-wrapper form button::before {
  content: "\f105";
  font-family: "iconfont";
  color: #77a8ac;
  transition: all 0.3s;
  font-size: 1.5rem;
}
.search-block__body-wrapper form:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.search-block__content-wrapper {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  max-height: 0rem;
  will-change: max-height;
  transition: all 0.45s;
  overflow-y: auto;
}
.search-block__content-wrapper::-webkit-scrollbar {
  display: none;
}
.search-open .search-focus .search-block__content-wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  max-height: 31.25rem;
}
.search-block__link {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  background: #122021;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  gap: 1.25rem;
}
.search-block__link:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.search-block__left-side h3 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}
.search-block__left-side h3:not(:last-child) {
  margin-bottom: 0.375rem;
}
.search-block__breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.search-block__breadcrumbs li {
  color: #77a8ac;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.search-block__breadcrumbs li:not(:last-child)::after {
  content: "\f116";
  transform: translate(0rem, 0.09375rem);
  color: #77a8ac;
  font-size: 0.625rem;
  line-height: normal;
  font-family: "iconfont";
}
.search-block__right-side {
  display: flex;
  align-items: center;
  gap: 1.375rem;
}
.search-block__usefulness {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.search-block__usefulness span {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}
.search-block__usefulness img {
  width: 1.5625rem;
  height: 1.5625rem;
  max-width: 100%;
}
.search-block__difficulty {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.search-block__difficulty span {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}
.filter-header__btn {
  padding: 0.625rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.filter-header__btn::before {
  content: "\f104";
  font-family: "iconfont";
  color: #77a8ac;
  transition: all 0.3s;
  font-size: 1.5625rem;
}
.filter-open .filter-header__btn {
  background: #122021;
}
.filter-open .filter-header__btn::before {
  content: "\f113";
}
.filter-header__wrapper {
  position: absolute;
  z-index: 200;
  top: calc(100% + 0.625rem);
  opacity: 0;
  transition: all 0.3s;
  visibility: hidden;
  pointer-events: none;
}
.filter-open .filter-header__wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.filter-header__content {
  width: 100%;
  border-radius: 0.5rem;
  background: #183132;
  padding: 1.25rem 0.625rem 0.625rem;
}
.filter-header__box {
  display: grid;
  gap: 0.3125rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #77a8ac;
  margin-top: 2.1875rem;
}
.filter-header__title {
  margin: 0 auto;
  color: #fff;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1.25rem;
  background: #183132;
  transform: translate(0rem, -78%);
  line-height: normal;
}

.switch-row {
  padding: 0.5rem 0.625rem;
  border-radius: 0.5rem;
  background: #122021;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.switch-row__content h3 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.switch-row__content h3:not(:last-child) {
  margin-bottom: 0.1875rem;
}
.switch-row__content p {
  color: #77a8ac;
  font-family: "Exo 2";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
}/* Generated by vite-plugin-svg-spritemap */
.footer {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}
.footer__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 0.5rem;
  background: #122021;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  align-items: center;
  max-width: 100%;
}
.footer__rights {
  color: #77a8ac;
  font-family: "Exo 2";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
}
.footer__logo {
  flex-grow: 1;
  text-align: center;
  width: 3.125rem;
  max-width: 100%;
  align-self: center;
  justify-self: center;
}
.footer__menu ul {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.footer__menu ul li a {
  color: #77a8ac;
  font-family: "Exo 2";
  font-size: 0.875rem;
  transition: all 0.3s;
  font-weight: 400;
  line-height: normal;
}/* Generated by vite-plugin-svg-spritemap */
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 0.625rem);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-family: "Exo 2";
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -0.4375rem;
  left: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -0.4375rem;
  left: 0;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: initial;
  right: -0.4375rem;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -0.4375rem;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 1rem;
  height: 1rem;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 0.3125rem 0.5625rem;
  z-index: 1;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.single {
  padding-top: 3.75rem;
  padding-bottom: 1.25rem;
}
.single__header {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.single__header h1 {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}
.single__header h1:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.single__header:not(:last-child) {
  margin-bottom: 2.1875rem;
}
.single__breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.single__breadcrumbs li {
  font-family: "Exo 2";
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.single__breadcrumbs li a {
  transition: all 0.3s;
}
.single__breadcrumbs li:not(:last-child) {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}
.single__breadcrumbs li:not(:last-child)::after {
  content: "\f116";
  font-family: "iconfont";
  color: #183132;
  font-size: 0.875rem;
}
.single__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
}
.single__container {
  flex-grow: 1;
}
.single__navigation {
  position: sticky;
  top: 1.875rem;
  z-index: 100;
  flex: 0 0 11.875rem;
  padding: 0.9375rem;
}
.single__navigation-wrapper h3 {
  cursor: pointer;
  color: #ff1b06;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  padding: 0.625rem;
  border-left: 0.125rem solid #ff1b06;
}
.single__navigation-wrapper h3.--navigator-active + ul {
  max-height: 37.5rem;
}
.single__navigation-wrapper ul {
  margin-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  will-change: max-height;
}
.single__navigation-wrapper ul li a {
  color: #fff;
  transition: all 0.3s;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.3s;
}
.single__navigation-wrapper ul li a::before {
  opacity: 0;
  transform: translate(-0.625rem, 0rem);
  content: "\f106";
  color: #ff1b06;
  font-size: 0.75rem;
  font-family: "iconfont";
  transition: all 0.3s;
}
.single__navigation-wrapper ul li:not(:last-child) {
  margin-bottom: 0.75rem;
}
.single__navigation-wrapper:not(:last-child) {
  margin-bottom: 1rem;
}

.content-single__card {
  border-radius: 0.5rem;
  background: #122021;
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
}
.content-single__item {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.content-single__item:not(:last-child) {
  margin-bottom: 1.25rem;
  border-bottom: 0.1875rem solid #000;
}
.content-single__items {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.content-single__header {
  border-radius: 0.5rem;
  background: #183132;
  display: flex;
  align-items: center;
  row-gap: 0.9375rem;
  padding: 0.625rem 1.25rem;
}
.content-single__header h3 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}
.content-single__usefulness {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3125rem;
  border-radius: 0.5rem;
  background: #122021;
}
.content-single__usefulness span {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}
.content-single__usefulness img {
  width: 1.5625rem;
  max-width: 100%;
  flex: 0 0 1.5625rem;
}
.content-single__difficulty {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3125rem;
  border-radius: 0.5rem;
  background: #122021;
}
.content-single__difficulty span {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}
.content-single__actions {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: flex-end;
}
.content-single__text-blocks {
  padding: 1.25rem;
}
.content-single__text-blocks > *:not(:last-child) {
  margin-bottom: 1.875rem;
}
.content-single__text-blocks h3 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
.content-single__text-blocks h3:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.content-single__text-blocks p {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.content-single__text-blocks p a {
  color: #ff1b06;
  transition: all 0.3s;
}
.content-single__text-blocks ul {
  padding-left: 1.25rem;
}
.content-single__text-blocks ul li {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5; /* 150% */
  list-style-type: disc;
}
.content-single__text-blocks ul li a {
  color: #ff1b06;
  transition: all 0.3s;
}
.content-single__text-blocks ul li::marker {
  color: #fff;
}
.content-single__text-blocks ul li:not(:last-child) {
  margin-bottom: 0.875rem;
}

.info-block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.info-block__wrapper {
  flex-grow: 1;
}
.info-block__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.info-block__title::before {
  font-family: "iconfont";
  font-weight: 200;
  content: "\f111";
  font-size: 1.25rem;
  color: #029c9a;
}

.technique-block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.technique-block__wrapper {
  flex-grow: 1;
}
.technique-block__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.technique-block__title::before {
  font-family: "iconfont";
  font-weight: 200;
  content: "\f109";
  color: #858cf5;
  font-size: 1.375rem;
}

.helpful-block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.helpful-block__wrapper {
  flex-grow: 1;
}
.helpful-block__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.helpful-block__title::before {
  font-family: "iconfont";
  font-weight: 200;
  content: "\f10c";
  color: #ffcc00;
  font-size: 1.375rem;
}

.cases-block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.cases-block__wrapper {
  flex-grow: 1;
}
.cases-block__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.cases-block__title::before {
  font-family: "iconfont";
  font-weight: 200;
  content: "\f115";
  color: #f7929a;
  font-size: 1.5625rem;
}

.advanced-block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.advanced-block__wrapper {
  flex-grow: 1;
}
.advanced-block__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.advanced-block__title::before {
  font-family: "iconfont";
  font-weight: 200;
  content: "\f117";
  color: #cc5eff;
  font-size: 1.25rem;
}

.history-block {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.history-block__wrapper {
  flex-grow: 1;
}
.history-block__title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.history-block__title::before {
  font-family: "iconfont";
  font-weight: 200;
  content: "\f10b";
  color: #1fb3fb;
  font-size: 1.25rem;
}

.single-video {
  max-width: 27.875rem;
}
.single-video h4 {
  color: #77a8ac;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #183132;
  padding: 0.125rem 0.625rem;
  max-width: 100%;
  display: inline-block;
  position: relative;
  transform: translate(0rem, 0.125rem);
}
.single-video h4::before {
  content: "";
  position: absolute;
  width: 0.5625rem;
  height: 0.625rem;
  background: url("../assets/img/title-decore.svg") 0 0/100% no-repeat;
  bottom: 0;
  left: 100%;
}
.single-video__wrapper {
  background: #183132;
  padding: 0.25rem;
  overflow: hidden;
  border-radius: 0.25rem;
}
.single-video__wrapper span {
  color: #fff;
  text-align: center;
  display: block;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}
.single-video video {
  width: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  aspect-ratio: 446/247;
}/* Generated by vite-plugin-svg-spritemap */
aside {
  flex: 0 0 18.75rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
aside .aside-wrapper {
  max-width: 18.75rem;
  width: 100%;
  padding: 1.5625rem 0.625rem 3.125rem 1.5625rem;
  background: #122021;
  border-radius: 0 0.5rem 0.5rem 0;
}
aside .aside-close {
  position: fixed;
  right: -100%;
  z-index: 200;
  top: 7%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
}
[data-fls-menu-open] aside .aside-close {
  opacity: 1;
  right: 4%;
  pointer-events: all;
  visibility: visible;
}
aside .aside-close::before {
  font-family: "iconfont";
  font-size: 1.5625rem;
  color: #fff;
  content: "\f113";
}
aside .aside-logo {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  color: #fff;
  text-align: center;
  font-family: "Encode Sans SC";
  font-size: 1.75rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.21rem;
}
aside .aside-logo img {
  max-width: 100%;
  width: 3.125rem;
}
aside .aside-logo:not(:last-child) {
  margin-bottom: 2.25rem;
}
aside .menu-pages li:not(:last-child) {
  margin-bottom: 0.625rem;
}
aside .menu-pages li a {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.5rem;
  gap: 0.625rem;
}
aside .menu-pages li a.active {
  background: #183132;
}
aside .menu-pages li a::before {
  font-size: 1.25rem;
  transition: all 0.3s;
  color: #fff;
  font-weight: 200;
}
aside .menu-pages li:nth-child(1) a::before {
  font-family: "iconfont";
  content: "\f10a";
}
aside .menu-pages li:nth-child(2) a::before {
  content: "\f103";
  font-family: "iconfont";
}
aside .menu-pages li:nth-child(3) a::before {
  content: "\f108";
  font-family: "iconfont";
}
aside .menu-pages li:nth-child(4) a::before {
  content: "\f102";
  font-family: "iconfont";
}
aside .menu-pages li:nth-child(5) a::before {
  content: "\f101";
  font-family: "iconfont";
}
aside .menu-pages li:nth-child(6) a::before {
  content: "\f114";
  font-family: "iconfont";
}
aside .menu-pages li:nth-child(7) a::before {
  content: "\f104";
  font-family: "iconfont";
}
aside .menu-pages:not(:last-child) {
  padding-bottom: 3.125rem;
  border-bottom: 0.125rem solid #183132;
  margin-bottom: 3.125rem;
}
aside .menu-info li:not(:last-child) {
  margin-bottom: 0.625rem;
}
aside .menu-info li a {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.5rem;
  gap: 0.625rem;
}
aside .menu-info li a.active {
  background: #183132;
}
aside .menu-info li a::before {
  font-size: 1.25rem;
  transition: all 0.3s;
  color: #fff;
  font-weight: 200;
}
aside .menu-info li:nth-child(1) a::before {
  content: "\f10e";
  font-family: "iconfont";
}
aside .menu-info li:nth-child(2) a::before {
  content: "\f118";
  font-family: "iconfont";
}
aside .menu-info li:nth-child(3) a::before {
  content: "\f107";
  font-family: "iconfont";
}/* Generated by vite-plugin-svg-spritemap */
.wrapper {
  position: relative;
}
.wrapper .bg-page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(12, 16, 13, 0.9);
  z-index: 2;
}
.wrapper .bg-page img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.wrapper header,
.wrapper footer,
.wrapper main {
  position: relative;
  z-index: 3;
}

.search-open footer,
.search-open main,
.filter-open footer,
.filter-open main {
  pointer-events: none;
}

main::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.25rem);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 100;
}

[data-fls-menu-open] main::before {
  opacity: 1;
}

.basic,
.master,
.hard,
.medium,
.easy {
  padding: 0.1875rem 0.625rem;
  position: relative;
  color: #0c100d;
  border-radius: 0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
}
.basic::before,
.master::before,
.hard::before,
.medium::before,
.easy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../assets/img/difficulty-bg.png") 0 0/cover no-repeat;
}

.basic {
  background-color: #91e2ad;
}

.easy {
  background-color: #1fb3fb;
}

.medium {
  background-color: #63dcff;
}

.hard {
  background-color: #ffcc00;
}

.master {
  background-color: #ff1b06;
}

.keyboard::before {
  font-family: "iconfont";
  content: "\f109";
  font-weight: 200;
  font-size: 1.25rem;
  color: #77a8ac;
  transition: all 0.3s;
}

.link-page::before {
  font-family: "iconfont";
  content: "\f112";
  font-weight: 200;
  font-size: 1.25rem;
  color: #77a8ac;
  transition: all 0.3s;
}

.key {
  padding: 0.125rem 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #77a8ac;
  color: #ff1b06;
  font-family: "Anaheim";
  font-size: 1rem;
  font-weight: 600;
  margin: 0.1875rem;
  display: inline-block;
  line-height: 1.5; /* 150% */
}

.switch {
  width: 3.4375rem;
  height: 1.875rem;
  flex: 0 0 3.4375rem;
  position: relative;
  cursor: pointer;
  display: flex;
}
.switch__checkbox {
  display: none;
}
.switch__checkbox:checked + .switch__slider {
  background-color: #77a8ac;
}
.switch__checkbox:checked + .switch__slider:after {
  left: 1.625rem;
  display: flex;
  background: whitesmoke;
  box-shadow: -0.1875rem 0 0.125rem 0 rgba(0, 0, 0, 0.2);
}
.switch__slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #183132;
  border-radius: 0.625rem;
  transition: 0.5s background;
}
.switch__slider::after {
  position: absolute;
  content: "";
  border-radius: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: #77a8ac;
  box-shadow: 0.1875rem 0 0.125rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s left, background;
  left: 0.1875rem;
  top: 0.1875rem;
}

.main-gamepad {
  padding-top: 2.5rem;
  padding-bottom: 7.5rem;
}
.main-gamepad__header {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  text-align: center;
}
.main-gamepad__header:not(:last-child) {
  margin-bottom: 1.875rem;
}
.main-gamepad__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
}
.main-gamepad__logo img {
  width: 3.125rem;
  max-width: 100%;
}
.main-gamepad__logo span {
  color: #fff;
  text-align: center;
  font-family: "Encode Sans SC";
  font-size: 1.75rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.21rem;
}
.main-gamepad__logo:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.main-gamepad__link {
  border-radius: 0.5rem;
  background: #122021;
  padding: 0.625rem;
  max-width: 36.25rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
  gap: 0.625rem;
}
.main-gamepad__link::after {
  content: "\f10f";
  font-family: "iconfont";
  color: #ff1b06;
}
.main-gamepad__link span {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.main-gamepad__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
}
.main-gamepad__container {
  flex-grow: 1;
}
.main-gamepad__items {
  display: grid;
  gap: 0.9375rem;
  grid-template-columns: repeat(4, 1fr);
}
.main-gamepad__main-article {
  position: relative;
  width: 36.25rem;
  padding: 1.5rem;
  background: #122021;
  border-radius: 0.5rem;
  overflow: hidden;
  min-height: 9.375rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
}
.main-gamepad__main-article span {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  transform: scale(1);
  transition: all 0.3s;
  z-index: 2;
  display: block;
  transform: scale(1);
  transition: all 0.3s;
}
.main-gamepad__main-article p {
  color: #77a8ac;
  text-align: center;
  font-family: "Exo 2";
  font-size: 0.875rem;
  display: block;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: scale(1);
  transition: all 0.3s;
}
.main-gamepad__main-article::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(to right, #ff7337 0 8.125rem, #029c9a 8.125rem 17.5rem, #f7929a 15.625rem 25rem, #ffcc00 25rem 31.25rem, #91e2ad 25rem 31.25rem) left top/100% 0.3125rem no-repeat, linear-gradient(to left, #cc5eff 0rem 6.25rem, #1fb3fb 8.125rem 17.5rem, #4381f8 17.5rem 26.875rem, #858cf5 26.875rem 32.1875rem, #63dcff 26.875rem 35.625rem) left bottom/100% 0.3125rem no-repeat;
}
.main-gamepad__main-article::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(to bottom, #ff7337 0 50%, #63dcff 50% 100%) left top/0.3125rem 100% no-repeat, linear-gradient(to bottom, #91e2ad 0 50%, #cc5eff 50% 100%) right top/0.3125rem 100% no-repeat;
}
.main-gamepad__article {
  position: relative;
  overflow: hidden;
  min-height: 9.375rem;
  border-radius: 0.5rem;
  max-width: 17.8125rem;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-gamepad__article span {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  transform: scale(1);
  transition: all 0.3s;
  z-index: 2;
}
.main-gamepad__decore {
  height: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-gamepad__decore svg {
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translate(-50%, 0rem);
  height: 2.0625rem;
}
.main-gamepad__icon {
  position: relative;
  z-index: 2;
}
.main-gamepad__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-gamepad__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  left: 0;
  background-color: rgba(18, 32, 33, 0.9);
}
.main-gamepad__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.3s;
}/* Generated by vite-plugin-svg-spritemap */
.spollers {
  display: grid;
  gap: 0.9375rem;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 0.0625rem solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}
.spollers__title::marker, .spollers__title::-webkit-details-marker {
  display: none;
}
.--spoller-init .spollers__title {
  cursor: pointer;
}
.--spoller-init .spollers__title::before, .--spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 0.625rem;
  top: 50%;
  background-color: #000;
  height: 0.125rem;
  width: 0.9375rem;
  transition: transform 0.5s ease 0s;
}
.--spoller-init .spollers__title::before {
  transform: translate(-75%, -50%) rotate(40deg);
}
.--spoller-init .spollers__title::after {
  transform: translate(0, -50%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::before {
  transform: translateX(-75%) rotate(-40deg);
}
.--spoller-init .spollers__title.--spoller-active::after {
  transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #eee;
}
/* Generated by vite-plugin-svg-spritemap */
.rangeSlider {
  background-color: #183132;
  height: 0.375rem !important;
}

.rangeBar {
  height: 0.375rem !important;
}

.rangeSlider.rsFocus .rangeBar {
  background-color: #fff;
}

.rangeSlider.rsFocus .rangeNub,
.rangeSlider .rangeHandle.rsActive .rangeNub {
  background-color: #fff;
}

.rangeSlider .rangeHandle {
  width: 0.9375rem;
  height: 0.9375rem;
}

.rangeNub::before {
  content: "";
  position: absolute;
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #0c100d;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.rangePips .rsPip {
  width: 0;
  top: 0.625rem;
  height: 0;
}
.rangePips .rsPip::before {
  position: absolute;
  top: 0.25em;
  transform: translate(-50%, 0rem) rotate(-90deg);
  font-family: "iconfont";
  color: #183132;
  font-size: 0.75rem;
  content: "\f106";
}

.pipIcon {
  display: inline-flex;
  width: 1.4375rem; /* задай свои размеры */
  height: 1.4375rem;
  flex: 0 0 1.4375rem;
}

.pipIcon img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.rangePips .rsPipVal {
  top: 0.875rem;
}

.rangePips .rsPip.rsSelected .rsPipVal {
  top: 1.125rem;
}

.rangeNub {
  border-radius: 50% !important;
}

.catalog__container {
  max-width: 93.75rem;
}
.catalog__header {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.catalog__header:not(:last-child) {
  margin-bottom: 2.5rem;
}
.catalog__rangers {
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  gap: 1.875rem;
  flex-grow: 1;
}
.catalog__icon-range, .catalog__label-range {
  width: 100%;
}
.catalog__icon-range h3, .catalog__label-range h3 {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
.catalog__icon-range h3:not(:last-child), .catalog__label-range h3:not(:last-child) {
  margin-bottom: 1.375rem;
}
.catalog__close-tabs {
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.5rem;
  background: #183132;
  align-self: flex-end;
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  gap: 0.625rem;
  line-height: normal;
  transition: background 0.3s;
}
.catalog__close-tabs::after {
  content: "\f116";
  transform: rotate(90deg);
  font-size: 0.75rem;
  font-family: "iconfont";
  line-height: normal;
  color: #ff1b06;
  transition: all 0.3s;
}
.catalog__close-tabs.--active::after {
  transform: rotate(-90deg);
}
.catalog__spollers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
  align-items: start;
}
.spoller-block {
  margin: 0 auto;
  width: 100%;
  max-width: 31.25rem;
  border-radius: 0.5rem;
  background: #122021;
}
.spoller-block__header {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.5rem;
  background: #183132;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
}
.spoller-block__header::after {
  transform: rotate(-180deg);
}
.spoller-block__header::before {
  transform: rotate(0deg);
}
.spoller-block__header::before, .spoller-block__header::after {
  content: "\f116";
  font-size: 0.9375rem;
  font-family: "iconfont";
  line-height: normal;
  color: #122021;
}
.spoller-block__wrapper {
  padding: 0.625rem 0.375rem 0.9375em;
}
.spoller-block__item:not(:last-child) {
  margin-bottom: 0.75rem;
}
.spoller-block__item-wrap {
  max-width: 100%;
  text-align: center;
}
.spoller-block__title {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.5rem;
  cursor: pointer;
  background: #183132;
  padding: 0.375rem 0.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
}
.spoller-block__title::after {
  transform: rotate(90deg);
}
.spoller-block__title::before {
  transform: rotate(90deg);
}
.spoller-block__title::before, .spoller-block__title::after {
  content: "\f116";
  font-size: 0.625rem;
  font-family: "iconfont";
  line-height: normal;
  color: #fff;
  transition: all 0.3s;
}
.spoller-block__title.--spoller-active {
  border-radius: 0.5rem 0.5rem 0 0;
}
.spoller-block__title.--spoller-active::after {
  transform: rotate(-90deg);
}
.spoller-block__title.--spoller-active::before {
  transform: rotate(-90deg);
}
.spoller-block__body {
  max-width: 100%;
  border-radius: 0.5rem;
  padding: 0.625rem;
  background: #183132;
}
.spoller-block__link-item {
  border-radius: 0.5rem;
  border: 0.1875rem solid #0c100d;
  position: relative;
  padding: 0.75rem;
}
.spoller-block__link-item h4 {
  position: absolute;
  top: 0%;
  left: 50%;
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #183132;
  padding: 0rem 1.5625rem;
  line-height: normal;
  transform: translate(-50%, calc(-50% - 0.375rem));
  max-width: 100%;
}
.spoller-block__link-item:not(:last-child) {
  margin-bottom: 1.5625rem;
}
.spoller-block__link-item:first-child {
  margin-top: 1.25rem;
}
.map-tech .spoller-block__link-item {
  border: none;
  padding: 0rem;
}
.map-tech .spoller-block__link-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.map-tech .spoller-block__link-item:first-child {
  margin-top: 0.625rem;
}
.spoller-block__link {
  border-radius: 0.5rem;
  width: 100%;
  display: block;
  padding: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  background: #0c100d;
}
.spoller-block__link span {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
.spoller-block__types {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.spoller-block__types img {
  flex: 0 0 1.4375rem;
  width: 1.4375rem;
  height: 1.4375rem;
}/* Generated by vite-plugin-svg-spritemap */
.post-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
}
.post-section__container {
  flex-grow: 1;
}
.post-block__title {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  padding: 0.625rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #122021;
  max-width: 36.25rem;
  width: 100%;
  margin: 0 auto;
}
.post-block__items {
  border-radius: 0.5rem;
  background-color: #122021;
  position: relative;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.post-block__items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background: url("../assets/img/posts/bg-items.png") 0 0/cover repeat;
}
.post-block__article {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.25rem;
}
.post-block__bg-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.post-block__bg-block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1);
  transition: all 0.3s;
  object-fit: cover;
  opacity: 0.4;
}
.post-block__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
}
.post-block__icon {
  position: relative;
  z-index: 1;
  width: 3.75rem;
  height: 3.75rem;
  max-width: 100%;
  transform: scale(1);
  transition: all 0.3s;
}
.post-block__footer {
  position: relative;
  padding: 0.625rem 0.75rem 1.25rem;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.25%, #183032 100%);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.post-block__footer h3 {
  color: #fff;
  font-family: "Exo 2";
  font-weight: 700;
  line-height: normal;
}
.post-block__avatar {
  position: absolute;
  bottom: 90%;
  left: 0.75rem;
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  max-width: 100%;
}
.post-block:not(:last-child) {
  margin-bottom: 1rem;
}/* Generated by vite-plugin-svg-spritemap */
.error {
  padding-top: 3.125rem;
  padding-bottom: 5rem;
}
.error__container {
  min-height: 100dvh;
  text-align: center;
}
.error__logo {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}
.error__logo img {
  width: 3.125rem;
  max-width: 100%;
}
.error__logo span {
  color: #fff;
  text-align: center;
  font-family: "Encode Sans SC";
  font-size: 1.75rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.21rem;
}
.error__logo:not(:last-child) {
  margin-bottom: 6.25rem;
}
.error__image {
  text-align: center;
}
.error__image img {
  max-width: 100%;
}
.error__image:not(:last-child) {
  margin-bottom: 2.5rem;
}
.error__info {
  text-align: center;
}
.error__info span {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: block;
}
.error__info span:not(:last-child) {
  margin-bottom: 1rem;
}
.error__info p {
  color: #fff;
  text-align: center;
  font-family: "Exo 2";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  max-width: 18.75rem;
  margin: 0 auto;
}
.error__info p:not(:last-child) {
  margin-bottom: 3.125rem;
}
.error__info a {
  color: #fff;
  font-family: "Exo 2";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #ff1b06;
  display: inline-flex;
  align-items: center;
  gap: 0.9375rem;
  justify-content: center;
  transition: all 0.3s;
}
.error__info a::before {
  content: "\f116";
  transform: rotate(-180deg);
  font-family: "iconfont";
  font-size: 1.125rem;
  line-height: normal;
  color: #ff1b06;
  transition: all 0.3s;
}
@media (max-width: 81.25em){
  .content-single__header {
    column-gap: 1rem;
  }
}
@media (max-width: 78.125em){
  .info-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .technique-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .helpful-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .cases-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .advanced-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .history-block {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 77.5em){
  .content-single__items {
    flex-grow: 1;
    flex: 0 0 100%;
    order: 3;
  }
  .content-single__header {
    padding: 0.625rem;
    flex-wrap: wrap;
  }
  .content-single__header h3 {
    flex-grow: 1;
    order: 1;
  }
  .content-single__actions {
    flex-grow: 1;
    order: 2;
  }
}
@media (max-width: 75em){
  .main-gamepad__article span {
    font-size: 1.5rem;
  }
  .catalog__rangers {
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;
  }
  .post-block__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 73.125em) and (min-width: 25.625em){
  .main-gamepad__main-article {
    grid-row: 3/4;
  }
}
@media (max-width: 73.125em){
  .main-gamepad__items {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }
  .main-gamepad__article {
    max-width: 100%;
  }
}
@media (max-width: 64em){
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__rights {
    margin-top: 1.25rem;
    order: 3;
  }
  .footer__logo {
    order: 1;
  }
  .footer__menu ul {
    justify-content: center;
  }
  .footer__menu {
    order: 2;
  }
  .single__breadcrumbs li {
    color: #77a8ac;
    font-weight: 500;
  }
  .content-single__text-blocks {
    padding: 1.5625rem 0.3125rem;
  }
}
@media (max-width: 62em){
  .single__navigation {
    display: none;
  }
  aside {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    transition: left 0.3s;
    z-index: 200;
  }
  aside .aside-wrapper {
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
  }
  [data-fls-menu-open] aside {
    left: 0;
  }
  [data-fls-menu-open] aside::before {
    left: 0;
  }
  .catalog__spollers {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 48em) and (min-width: 26.25em){
  .filter-header__wrapper {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0rem);
  }
}
@media (max-width: 48em){
  .search-block__link {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-block__breadcrumbs {
    flex-wrap: wrap;
  }
  .spoller-block__header {
    gap: 0.625rem;
  }
  .post-block__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-block__footer h3 {
    font-size: 1.125rem;
  }
}
@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em){
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left 0.3s;
    z-index: 2;
  }
  [data-fls-menu-open] .menu__body {
    left: 0;
  }
  [data-fls-menu-open] .menu__body::before {
    left: 0;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .catalog__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 3.125rem;
  }
  .catalog__rangers {
    width: 100%;
    padding-right: 1.25rem;
  }
  .catalog__close-tabs {
    align-self: flex-start;
  }
}
@media (max-width: 31.25em){
  .catalog__close-tabs {
    width: 100%;
  }
  .post-block__items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 26.25em){
  .filter-header__wrapper {
    top: 100%;
    left: 0%;
  }
}
@media (max-width: 25.625em){
  .main-gamepad__items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 25em){
  .content-single__items {
    flex-wrap: wrap;
  }
  .content-single__header h3 {
    font-size: 1.125rem;
  }
}
@media (max-width: 22.1875em){
  .search-block__right-side {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 20em){
  .post-section {
    padding-top: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 75em){
  .post-section {
    padding-top: clamp( 3.75rem , 1.93181818181875rem  +  9.0909090909vw , 8.75rem );
  }
}
@media (min-width: 25.625em){
  .main-gamepad__main-article {
    grid-column: span 2;
  }
}
@media (min-width: 26.25em){
  .filter-header__content {
    min-width: 25rem;
  }
}
@media (min-width: 31.25em){
  .post-block__article {
    max-width: 22.5rem;
  }
}
@media (min-width: 47.99875em){
  .catalog__icon-range, .catalog__label-range {
    max-width: 30rem;
  }
}
@media (min-width: 48em) and (max-width: 120em){
  .spoller-block__header {
    gap: clamp( 0.625rem , 0.20833333333125rem  +  0.8680555556vw , 1.25rem );
  }
  .post-block__footer h3 {
    font-size: clamp( 1.125rem , 0.875rem  +  0.5208333333vw , 1.5rem );
  }
}
@media (min-width: 48em){
  .filter-header {
    position: relative;
  }
  .filter-header__wrapper {
    right: 0;
  }
}
@media (min-width: 61.99875em){
  .main-gamepad__inner aside {
    margin-top: 9.75rem;
  }
}
@media (min-width: 62em){
  .header__burger {
    display: none;
  }
}
@media (min-width: 64em){
  .single__breadcrumbs li a {
    padding: 0.625rem;
    border-radius: 0.5rem;
  }
}
@media (min-width: 75em) and (max-width: 120em){
  .main-gamepad__article span {
    font-size: clamp( 1.5rem , 0.66666666666875rem  +  1.1111111111vw , 2rem );
  }
}
@media (min-width: 75em){
  .post-section {
    padding-top: 8.75rem;
  }
}
@media (min-width: 81.25em) and (max-width: 120em){
  .content-single__header {
    column-gap: clamp( 1rem , -2.145161290325rem  +  3.8709677419vw , 2.5rem );
  }
}
@media (min-width: 120em){
  .content-single__header {
    column-gap: 2.5rem;
  }
  .main-gamepad__article span {
    font-size: 2rem;
  }
  .spoller-block__header {
    gap: 1.25rem;
  }
  .post-block__footer h3 {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover){
  .header__languages a:not(.active):hover {
    color: #77a8ac;
    background: #122021;
  }
  .search-block__btn:hover::before {
    color: #fff;
  }
  .search-block__body-wrapper form button:hover::before {
    color: #fff;
  }
  .search-block__link:hover {
    background: #111b1c;
  }
  .filter-header__btn:hover::before {
    color: #fff;
  }
  .footer__menu ul li a:hover {
    color: #ff1b06;
  }
  .single__breadcrumbs li a:hover {
    background: #122021;
    color: #ff1b06;
  }
  .single__navigation-wrapper ul li a:hover {
    color: #ff1b06;
  }
  .single__navigation-wrapper ul li a:hover::before {
    opacity: 1;
    transform: translate(0rem, 0rem);
  }
  .content-single__text-blocks p a:hover {
    filter: brightness(0.8);
  }
  .content-single__text-blocks ul li a:hover {
    filter: brightness(0.8);
  }
  aside .menu-pages li a:hover {
    background: #183132;
  }
  aside .menu-pages li a:hover::before {
    color: #ff1b06;
  }
  aside .menu-info li a:hover {
    background: #183132;
  }
  aside .menu-info li a:hover::before {
    color: #ff1b06;
  }
  .keyboard:hover::before {
    color: #fff;
  }
  .link-page:hover::before {
    color: #fff;
  }
  .main-gamepad__link:hover {
    background: #1a2d2e;
  }
  .main-gamepad__main-article:hover span,
  .main-gamepad__main-article:hover p {
    transform: scale(1.05);
  }
  .main-gamepad__article:hover span {
    transform: scale(1.05);
  }
  .main-gamepad__article:hover .main-gamepad__image img {
    transform: scale(1.1);
  }
  .catalog__close-tabs:hover {
    background: #122525;
  }
  .post-block__article:hover .post-block__icon,
  .post-block__article:hover .post-block__bg-block img {
    transform: scale(1.05);
  }
  .error__info a:hover {
    background-color: #ff1b06;
  }
  .error__info a:hover::before {
    color: #fff;
  }
}